{% extends 'home/base.html' %}
{% block content %}

{% load widget_tweaks %}
{% load static %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'OIP.jpg' %}" height=200/>
  <p class="lead">Here we deliver delicous Pizzas, you have ever liked to taste :) </p>
</div>
    <div class="container">
    <h1> Order a Pizza</h1>

    <h2>{{note}}</h2>

    <form action="{% url 'order' %}" method="post" novalidate>
        {% csrf_token %}
        {% for field in pizzaform %}
        <div class="form-group">
            {{ field.errors}}
            {{field.label_tag}}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}
        <p>price: {{price}}</p>
        <input type="submit" value="Order Pizza">
    </form>

    
    <!-- There is a UI problem, the user cannot choose which order to edit  -->
    {% if pizza_id %}
    <a href="{% url 'order.edit' pk=pizza_id %}">Edit Order</a>
    {% endif %}
    <br><br>
    Want more than one pizza?
    <form action="{% url 'pizzas' %}" method="get">
        {{multiple_form}}
        <input type="submit" value="Get Pizzas">
    </form>
</div>
    
{% endblock %}

<!-- sample form and customization:
 
<form action="{% url 'order' %}" method="POST" novalidate>
        {% csrf_token %}
         Completely automatic
         <table>
        {{pizzaform.as_table}}
        </table> -->
        <!-- <ul>
            {{pizzaform.as_ul}}
        </ul> -->
    
        <!-- A customized form:
        {{pizzaform.topping1.label_tag}}
        {{pizzaform.topping1}}
        {{pizzaform.topping1.errors}}
   
        {{pizzaform.topping2.label_tag}}
        {{pizzaform.topping2}}
        {{pizzaform.topping2.errors}}
   
        <br><br><br><br>
        <label for="{{pizzaform.size.id_for_label}}" >Size of your pizza:</label>
        {{pizzaform.size}}
        {{pizzaform.size.errors}}
   
   
   
       <input type="submit" value="Order Pizza">
   
   </form> -->



















<!--  Without using django forms


<form action="{% url 'order' %}" method="POST">
    {% csrf_token %}
    <label for="topping1">Topping 1: </label>
    <input id="topping1" type="text" name="topping1">
    <br>
    <br>
    <label for="topping2">Topping 2: </label>
    <input id="topping2" type="text" name="topping2">
    <br>
    <br>
    <label for="size">Size: </label>
    <select id="size">
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>

    </select>
    <br>
    <br>
    <input type="submit" value="Order Pizza">

</form> -->
