{% extends 'home/base.html' %}
    {% block content %}
    {% load static %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4  overflow: scroll  text-center">
      <h1 class="display-4">Welcome to PizzaLand! </h1>
      <img src="{% static 'OIP.jpg' %}" height=200/>
      <p class="lead">Here we deliver most delicous Pizzas, you have ever tasted :) </p>
    </div>


    <div class="card-deck align-items-center justify-content-center mb-3 text-center">
      {% for pizza in discounted_pizzas %}
      <div class="  mb-4 box-shadow ">
        <div class="card-header">
          <h4 class="my-0 font-weight-norm  al">{{pizza.title}}</h4>
        </div>
        <div class=" card-body">
          <h1 class="card-title pricing-card-title">${{pizza.price}} <small class="text-muted color:red" >%{{pizza.discount_value}}</small></h1>
          <ul class="list-unstyled mt-3 mb-4">  
            <li>toppings: {{pizza.topping1}}</li>
            <li>toppings: {{pizza.topping2}}</li>
            <li>Size: {{pizza.size}}</li>
            {% if pizza.image %}
              <img class="card-img-top" src="{{pizza.image.url}}" height=200>
            {% else %}
              <img  class="card-img-top" class="card-img-top"src="{% static 'OIP.jpg' %}" height=200/>
              
            {% endif %}
          </ul>
          <form action="{% url 'checkout' %}" method="GET">
            <input type="hidden" value="{{pizza.id}}"  name="pizza_id" />
            <input type="number" name="number" value="1" placeholder="1"  min="1" max="10">
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">order</button></a>
      
          </form>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="card-deck align-items-center justify-content-center mb-3 text-center">

      {% if comments %}
      <p class="lead"> Customers' experiences and comments: </p>
      <div class="  mb-4 box-shadow ">

      <div class="row row-cols3 g-2">
        {% for note in comments %}
        <div class="col">
            <div class="p-3 ">
                <h3>{{note.user.first_name}}</h3>
                <h4><a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-non" >{{note.title}}</a></h4>
                {{note.text|truncatechars:100}}
            </div>
            
        </div>
        {% endfor %}

      </div>
    </div>
        <a href="{% url 'notes.list' %}"><button class="btn btn-lg btn-block btn-outline-primary">more</button></a>
      {% endif %}
  </div>
  
    {% endblock %}
 