{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome to PizzaLand! </h1>
    <img src="{% static 'OIP.jpg' %}" height=200/>
    <p class="lead">Here we deliver delicous Pizzas, you have ever liked to taste :) </p>

  </div>
{{note}}
<h2>Sign up Form</h2>
<form method="post"  enctype="multipart/form-data" >
  {% csrf_token %}
  {{ userform.as_p }}
  {{ customerform.as_p }}
  <button type="submit">Sign up</button>
</form>

{% endblock %}