{% extends 'home/base.html' %}

{% block content %}

{% load static %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <img src="{% static 'OIP.jpg' %}" height=200/>
      <p class="lead">Here we deliver most delicous Pizzas, you have ever tasted :) </p>
    </div>

    {{note}}
<form action="" method="POST"> {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-primary my-5"> Submit </button>

</form>

{% if form.errors %}
<div class="alert alert-danger my-5">
    {{form.errors.title.as_text}}
</div>
{% endif %}
<a href="{% url 'profile'%}" class="btn btn-secondary">Cancle</a>
{% endblock %}